# App Config
NEXT_PUBLIC_APP_URL=https://minimalist-portfolio-site-six.vercel.app

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=your_sanity_read_token

# Resend Email
RESEND_API_KEY=your_resend_api_key
CONTACT_EMAIL=your_email@domain.com